body{
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
}
header{
    display: flex;
    width: 100%;
}
#menu{
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content:space-around;
}
#menu ul{
    list-style: none;
    display: flex;
}
#menu ul li{
    margin-left: 45px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
#menu ul li a:hover{
    color: lime;
    border-bottom: 1px solid lime;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.fade-in-element {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
main{
    justify-content: center;
    align-items: center;
}
main h2{
    margin-left: 430px;
    color: lime;
}
#sobre p{
    max-width: 500px;
    
}
#sobre-min{
    display: flex;
    align-items: center;
    justify-content: space-between;
}