body{
    background: black;
    color: white;
    font-family: 'Courier New', monospace;
    cursor: url(../images/Normal_Select.cur), auto;
    scroll-behavior: smooth;
}
header{
    display: flex;
    width: 100%;
}
#menu{
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content:space-around;
}
#menu ul{
    list-style: none;
    display: flex;
}
#menu ul li{
    margin-left: 45px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
#menu ul li a:hover{
    color: lime;
    border-bottom: 1px solid lime;
    transition: .4s ease-in-out;
    cursor: url('../images/Link_Select.cur'),auto;
}
.fade-in-element {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
main{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('../images/duck.gif') no-repeat center center fixed;
    background-size: cover;
}
main h2{
    color: lime;
}
main i{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#main-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#show{
    margin-top: 50px;
    margin-left: 180px;
    padding: 15px;
    align-items: center;
 
}

.conteudo{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.conteudo p{
    max-width: 340px;
}
#sobre{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
#sobre-min{
    padding: 15px;
    align-items: center;
    float: left;
}
.conteudo #eu{ 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 40%;
    border-radius: 15%;
    box-shadow: 1px 1px 10px lime;
}
#conhecimento{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
#conhecimento h2{
    margin-left: 60px;
}

#cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    gap: 30px;
    justify-content: center;
}

.card {
    width: 140px;
    border: 1px solid #ddd;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card:hover{
    box-shadow: 1px 1px 10px lime;
    border: 1px solid lime;
    cursor: url('../images/Link_Select.cur'),auto;
}
.card i {
    color: #ddd;
    font-size: 44px;
}  
.card-content {
    padding: 15px;
}
  
.card-content h5 {
    color: white;
}

.card:hover i{
    color: lime;
}
.card:hover h5{
    color: lime;
}
.carousel-inner a:hover{
    cursor: url('../images/Link_Select.cur'),auto;
}
.botao:hover{
    cursor: url('../images/Link_Select.cur'),auto;
}

#projetos h2{
    margin-left: 60px;
}

#roda i{
    color: #ddd;
}
#roda i:hover{
    cursor: url('../images/Link_Select.cur'),auto;
    color: lime;
}
#roda p{
    color: #ddd !important;
}

@media (max-width:480px){
    
    #menu{
        display: flex;
        width: 100%;
        padding: 10px;
    }
    #menu h1{
        margin: 20px;
    }
    #menu ul{
        display: none;
    }
    #main-content{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -150px;
        margin-bottom: -20px;
    } 
    
    #show{
        margin-top: 200px;
        margin-left: 40px;
        padding: 0px;
    }
    #show img{
        width: 250px;
    }

    .conteudo{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .conteudo p{
        max-width: 320px;
        text-align:justify;
    }
    #sobre{
        margin-top: 50px;
        display: flex;
        flex-direction:column
    }
    #sobre-min{
        padding: 15px;
        align-items: center;
        float:inline-start;
    }    
    #sobre-mim h2{
        margin-left: 80px;
        margin-bottom: 30px;
    }
    .conteudo #eu{ 
        margin-left: 0px;
        margin-top: 10pxpx;
        margin-bottom: 20px;
        max-width: 70%;
        border-radius: 15%;
        box-shadow: 1px 1px 10px lime;
    }
    #conhecimento h2{
        margin-left: 80px;
    }
    #cards{
        grid-template-columns: repeat(2, minmax(140px, 1fr));
    }
    #projetos h2{
        margin-left: 100px;
    }
    #carouselExample img{
        width: 150px;
        height: 100%;
    }
}

@media (min-width:481px) and (max-width:767px){
    
}

@media (min-width:768px) and (max-width:991px){
 
}
@media (min-width:992px) and (max-width:1199px){

}

@media (min-width:1200px) and (max-width:1919px){

}